body {
    /* background: radial-gradient(circle, #385170, #142d4c); */
    margin: 0px;
    padding: 0px;
}

button {
    border-radius: 10px;
    padding: 10px 50px 10px 50px;
    background-color: #9fd3c7;
    color : white;
    border: none;
}

.m-450 {
    margin: 450px;
}

.mt-450 {
    margin-top: 450px;
}

.mt-250 {
    margin-top: 250px;
}

.mb-250 {
    margin-bottom: 250px;
}

.m-2{
    margin: 2px;
}

.p-18 {
    padding: 18px;
}

.center { 
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-box {
    position: relative;
    border: 5px solid #fff;
    box-shadow: 0 0 20px 10px rgb(255, 255, 255, 0.5);
    margin : 70px 175px 100px 175px;
}

.login.form {
    margin: 150px 75px 150px 75px;
}

.background-img{
    position: absolute;
    top:0px;
    z-index: -500px;
}


.flowy-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(75deg, #3146d1, #e18309, #67c6ec);
    background-size: 300% 300%; 
    animation: flowyAnimation 10s infinite alternate;
    z-index: -500px;
    top: 0px;
}

@keyframes flowyAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}   